<!-- templates/home.html -->
<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Página de inicio</title>
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="bg-gray-900 text-white min-h-screen flex items-center justify-center">
  <div class="bg-gray-800 p-10 rounded-lg shadow-lg w-full max-w-md text-center">
    <h1 class="text-3xl font-bold mb-6">Bienvenido</h1>
    <button
      class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-3 rounded font-semibold transition"
    >
        <a href="{% url 'tareas:guardar_tarea' %}" 
        class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-3 rounded font-semibold transition inline-block pd-4">
        Fichar
        </a>
    </button>
    <button
      class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-3 rounded font-semibold transition"
    >
        <a href="{% url 'tareas:dashboard' %}" 
        class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-3 rounded font-semibold transition inline-block">
        Dashboards
        </a>
    </button>
  </div>
</body>
</html>
